

body {
    background-color: rgb(28, 28, 28);
}

h1 {
    color: rgb(246, 239, 231);
    text-align: center;
    font-size: 10rem
}

h2 {
    color: rgb(246, 239, 231);
    text-align: center;
    font-size: 3rem
}

