

body {
    /*background-color: rgb(28, 28, 28);*/
    background-image: url("../Images/site/background.png");
}

h1 {
    color: rgb(28, 28, 28);
    text-align: center;
    font-size: 10rem;
    /* -webkit-text-fill-color: #b32322;
    -webkit-text-stroke: 3px black; */
}

h2 {
    color: rgb(28, 28, 28);
    text-align: center;
    font-size: 4rem;
    /* -webkit-text-fill-color: #b32322;
    -webkit-text-stroke: 3px black; */
}

img {
    display: block;
    width: 20%;
    margin: auto;
}